# // filterテーブル
*filter

# // チェインの基本ポリシー設定
# // INPUT,FORWARDはホワイトリスト方式で許可
# // OUTPUTは基本全て許可
:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0]

# // ループバックアドレスの許可
-A INPUT -i lo -j ACCEPT

# // 確立済の全ての接続を許可
-A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT

# // ICMP通信(ping等)の許可
-A INPUT -p icmp -j ACCEPT

# // 新規ssh接続の許可(5接続以上は10秒に1回のみ接続可能とする)
-A INPUT -p tcp -m state --state NEW --dport={{common_ssh_port}} -m limit --limit 6/m --limit-burst 5 -j ACCEPT

# // IPスプーフィング対策
# // *Private IP用
-A INPUT -s 10.0.0.0/8 -j DROP
-A INPUT -s 172.16.0.0/12 -j DROP
-A INPUT -s 192.168.0.0/16 -j DROP
# // *ローカルループバック用
-A INPUT -s 127.0.0.1/8 -j DROP
# //TEST-NET
-A INPUT -s 169.254.0.0/16 -j DROP
# // *リンクローカル用
-A INPUT -s 192.0.2.0/24 -j DROP
# // *ClassDアドレス用
-A INPUT -s 224.0.0.0/4 -j DROP
# // *ClassEアドレス用
-A INPUT -s 240.0.0.0/5 -j DROP

# // Smurf攻撃 対策
-A INPUT -d 0.0.0.0/8 -j DROP
-A INPUT -d 254.255.255.255 -j DROP

# // その他使用ポートの許可(別途group_vars,host_varsを参照)
{% for item in common_enable_ports %}
-A INPUT -p {{item.protocol}} --dport={{item.port}} -j ACCEPT
{% endfor %}

COMMIT
