$ORIGIN example.jp.
$TTL 86400
@   IN  SOA ns1.example.jp. postmaster.example.jp. (
        2016082201      ;Serial, YYYYMMDDNN
        3600            ;Refresh
        900             ;Retry
        1814400         ;Expire
        900
        )           ;Minimum
    IN  NS  ns1.example.jp.
ns1 IN  A   {{bind_nameserver}}
www IN  A   {{bind_webserver}}
