//
// named.conf
//
// Provided by Red Hat bind package to configure the ISC BIND named(8) DNS
// server as a caching only nameserver (as a localhost DNS resolver only).
//
// See /usr/share/doc/bind*/sample/ for example named configuration files.
//

// Basic
options {
  // Working directory
	directory 	        {{bind_datadir}}
  pid-file            {{bind_pid_file}}
	dump-file 	        {{bind_dump_file}}
  statistics-file     {{bind_statistics_file}}
  memstatistics-file  {{bind_mem_statistics_file}}

  recursion no;
  allow-transfer { none; };
};

// Zone
zone "example.jp" {
  type master;
  file "example.jp.zone";
};
